ROTERMINAL_SERVER_PORT=8787
ROTERMINAL_DB_PATH=./data/roterminal.db
ROTERMINAL_SERVER_ENABLE_SCHEDULED_INGEST=true
ROTERMINAL_INGEST_INTERVAL_MINUTES=5
ROTERMINAL_INGEST_STALE_AFTER_MS=1200000
ROTERMINAL_SNAPSHOT_RETENTION_DAYS=30
ROTERMINAL_REQUEST_TIMEOUT_MS=8000
ROBLOX_SECURITY_COOKIE=
ROBLOX_SECURITY_COOKIES=
